body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:4px;
  width:790px;
  height:814px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:814px;
}
#u1 {
  position:absolute;
  left:2px;
  top:399px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:90px;
  width:790px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:735px;
  top:15px;
  width:23px;
  height:11px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:763px;
  top:15px;
  width:23px;
  height:11px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:43px;
  top:28px;
  width:107px;
  height:42px;
  font-size:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:50px;
  top:98px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:115px;
  top:97px;
  width:55px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:200px;
  top:98px;
  width:53px;
  height:15px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:277px;
  top:98px;
  width:53px;
  height:15px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:357px;
  top:98px;
  width:40px;
  height:15px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:342px;
  top:90px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:20px;
  top:192px;
  width:140px;
  height:390px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
}
#u22 {
  position:absolute;
  left:2px;
  top:187px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:840px;
  top:190px;
  width:90px;
  height:25px;
}
#u23_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:42px;
  top:0px;
  width:43px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:3px;
  top:2px;
  width:38px;
  visibility:hidden;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:35px;
  top:204px;
  width:85px;
  height:25px;
}
#u29_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u31 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u34 {
  position:absolute;
  left:3px;
  top:4px;
  width:53px;
  white-space:nowrap;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u35 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u36 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u37 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:180px;
  top:150px;
  width:85px;
  height:29px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:730px;
  width:790px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:22px;
  top:773px;
  width:336px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:23px;
  top:791px;
  width:316px;
  height:23px;
  color:#0033FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:23px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:166px;
  top:150px;
  width:10px;
  height:580px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u53 {
  position:absolute;
  left:20px;
  top:150px;
  width:140px;
  height:42px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u54 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:41px;
  top:167px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:273px;
  top:156px;
  width:62px;
  height:23px;
  font-family:'Arial';
  font-weight:400;
  font-size:20px;
  color:#C9C9C9;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:35px;
  top:234px;
  width:72px;
  height:25px;
}
#u59_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u61 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u64 {
  position:absolute;
  left:3px;
  top:4px;
  width:40px;
  white-space:nowrap;
}
#u60_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u65 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u72 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u73 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:185px;
  top:190px;
  width:40px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:185px;
  top:207px;
  width:135px;
  height:20px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u77 {
  position:absolute;
  left:357px;
  top:191px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:357px;
  top:206px;
  width:135px;
  height:20px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u80 {
  position:absolute;
  left:530px;
  top:202px;
  width:100px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Heiti SC';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u81 {
  position:absolute;
  left:185px;
  top:237px;
  width:601px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:601px;
  height:1px;
}
#u82 {
  position:absolute;
  left:185px;
  top:260px;
  width:601px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:601px;
  height:1px;
}
#u83 {
  position:absolute;
  left:187px;
  top:247px;
  width:168px;
  height:15px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:355px;
  top:248px;
  width:51px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#3399FF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:187px;
  top:285px;
  width:423px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:406px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:4px;
  width:423px;
  height:2px;
}
#u88 {
  position:absolute;
  left:620px;
  top:285px;
  width:60px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  height:2px;
}
#u89 {
  position:absolute;
  left:690px;
  top:285px;
  width:96px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:79px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:4px;
  width:96px;
  height:2px;
}
#u90 {
  position:absolute;
  left:187px;
  top:272px;
  width:27px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:620px;
  top:272px;
  width:27px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:690px;
  top:272px;
  width:27px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:187px;
  top:339px;
  width:601px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:601px;
  height:1px;
}
#u97 {
  position:absolute;
  left:187px;
  top:297px;
  width:227px;
  height:15px;
  text-decoration:underline;
  color:#3399FF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:186px;
  top:309px;
  width:291px;
  height:31px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
}
#u100 {
  position:absolute;
  left:2px;
  top:9px;
  width:287px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:620px;
  top:297px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:691px;
  top:296px;
  width:65px;
  height:15px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:187px;
  top:396px;
  width:601px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:601px;
  height:1px;
}
#u106 {
  position:absolute;
  left:187px;
  top:354px;
  width:227px;
  height:15px;
  text-decoration:underline;
  color:#3399FF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:186px;
  top:366px;
  width:291px;
  height:31px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:31px;
}
#u109 {
  position:absolute;
  left:2px;
  top:9px;
  width:287px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:620px;
  top:354px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:691px;
  top:353px;
  width:65px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:187px;
  top:650px;
  width:601px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:601px;
  height:1px;
}
#u115 {
  position:absolute;
  left:187px;
  top:664px;
  width:168px;
  height:15px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:355px;
  top:665px;
  width:51px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#3399FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
