body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:790px;
  height:814px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:814px;
}
#u1 {
  position:absolute;
  left:2px;
  top:399px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:90px;
  width:790px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:735px;
  top:15px;
  width:23px;
  height:11px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:763px;
  top:15px;
  width:23px;
  height:11px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:11px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:43px;
  top:28px;
  width:107px;
  height:42px;
  font-size:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:50px;
  top:98px;
  width:27px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:115px;
  top:97px;
  width:55px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:200px;
  top:98px;
  width:53px;
  height:15px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:277px;
  top:98px;
  width:53px;
  height:15px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:357px;
  top:98px;
  width:40px;
  height:15px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:108px;
  top:90px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:20px;
  top:192px;
  width:140px;
  height:390px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:390px;
}
#u22 {
  position:absolute;
  left:2px;
  top:187px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:840px;
  top:190px;
  width:90px;
  height:25px;
}
#u23_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u25 {
  position:absolute;
  left:22px;
  top:2px;
  width:16px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:42px;
  top:0px;
  width:43px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:3px;
  top:2px;
  width:38px;
  visibility:hidden;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:35px;
  top:204px;
  width:96px;
  height:25px;
}
#u29_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u31 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:22px;
  top:0px;
  width:69px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u34 {
  position:absolute;
  left:3px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u35 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u36 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u37 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:35px;
  top:232px;
  width:98px;
  height:25px;
}
#u44_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u46 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u49 {
  position:absolute;
  left:3px;
  top:4px;
  width:66px;
  white-space:nowrap;
}
#u45_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u50 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u51 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u52 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u54 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u55 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:36px;
  top:262px;
  width:96px;
  height:25px;
}
#u59_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u61 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:22px;
  top:0px;
  width:69px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u64 {
  position:absolute;
  left:3px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u60_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u65 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u72 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u73 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:35px;
  top:292px;
  width:85px;
  height:25px;
}
#u74_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u76 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u76_img.selected {
}
#u76.selected {
}
#u77 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u79 {
  position:absolute;
  left:3px;
  top:4px;
  width:53px;
  white-space:nowrap;
}
#u75_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u80 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
}
#u81 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u82 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
}
#u84 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u85 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
}
#u87 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u88 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:176px;
  top:150px;
  width:139px;
  height:32px;
  font-family:'Arial';
  font-weight:400;
  font-size:28px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:181px;
  top:192px;
  width:470px;
  height:108px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:108px;
}
#u92 {
  position:absolute;
  left:2px;
  top:46px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:20px;
  top:730px;
  width:790px;
  height:40px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:22px;
  top:773px;
  width:336px;
  height:13px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:23px;
  top:791px;
  width:316px;
  height:23px;
  color:#0033FF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:23px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:660px;
  top:120px;
  width:10px;
  height:610px;
}
#u99_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u99_end {
  position:absolute;
  left:-5px;
  top:593px;
  width:20px;
  height:18px;
}
#u99_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:610px;
}
#u100 {
  position:absolute;
  left:166px;
  top:150px;
  width:10px;
  height:580px;
}
#u100_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u100_end {
  position:absolute;
  left:-5px;
  top:563px;
  width:20px;
  height:18px;
}
#u100_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:580px;
}
#u101 {
  position:absolute;
  left:20px;
  top:150px;
  width:140px;
  height:42px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
}
#u102 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:43px;
  top:167px;
  width:58px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:667px;
  top:150px;
  width:142px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:125px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:4px;
  width:142px;
  height:3px;
}
#u106 {
  position:absolute;
  left:670px;
  top:165px;
  width:129px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:670px;
  top:190px;
  width:140px;
  height:30px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:754px;
  top:228px;
  width:56px;
  height:11px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:11px;
  color:#3399FF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:11px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:665px;
  top:249px;
  width:142px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:125px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:4px;
  width:142px;
  height:3px;
}
#u113 {
  position:absolute;
  left:670px;
  top:266px;
  width:66px;
  height:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:14px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:670px;
  top:285px;
  width:66px;
  height:15px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:670px;
  top:307px;
  width:96px;
  height:11px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:11px;
  color:#3399FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:11px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:184px;
  top:343px;
  width:467px;
  height:99px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:99px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:184px;
  top:311px;
  width:88px;
  height:19px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:184px;
  top:329px;
  width:467px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:450px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:467px;
  height:1px;
}
#u124 {
  position:absolute;
  left:184px;
  top:491px;
  width:467px;
  height:99px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:99px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:184px;
  top:459px;
  width:88px;
  height:19px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:184px;
  top:477px;
  width:467px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:450px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:467px;
  height:1px;
}
