<!-- nav bar -->
  	 <div class="navbar navbar-default navbar-static-top" role="navigation" style="width:100%;min-height:80px;background-color: #196090;">
      <div class="container">
        <div class="navbar-header" id="header-logo">
          <a href=""><img id="logo" src="resource/static/image/logo.png"/></a>
        </div>
        <div class="navbar-collapse collapse" style="height:100%">
          <ul class="nav navbar-nav navbar-right">
          	<#if controller == "index">
            <li  class="active">
            <#else>
            <li>
            </#if>
            <a href="">首页</a></li>
            <#if controller == "about">
            <li  class="dropdown active">
            <#else>
            <li class="dropdown">
            </#if>
              <a href="about" class="dropdown-toggle" data-toggle="dropdown">关于CDUG<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="about">CDUG简介</a></li>
                <!-- <li><a href="about/introduction">CDUG简介</a></li> -->
                <li><a href="about/visionandmission">愿景与使命</a></li>
                <li><a href="about/history">CDUG历史</a></li>
                <li><a href="about/organization">组织架构</a></li>
                <li><a href="about/member">参会单位</a></li>
                <li><a href="about/sponsorship">赞助机构</a></li>
                <li><a href="about/statistics">统计数字</a></li>
                <li><a href="about/contact">联系我们</a></li>
              </ul>
            </li>
            
			<#if controller == "news">
            <li class="active">
            <#else>
            <li>
            </#if>
            <a href="news">新闻公告</a></li>
            
            
            <#if controller == "history">
            <li  class="dropdown active">
            <#else>
            <li class="dropdown">
            </#if>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">历年会议 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="history">CDUG年会简介</a></li>
                <li><a href="http://cdug.tongji.edu.cn/2013/" target="_blank">2013年CDUG</a></li>
                <li><a href="http://cdug.tongji.edu.cn/2012/" target="_blank">2012年CDUG</a></li>
                <li><a href="http://cdug.tongji.edu.cn/2011/" target="_blank">2011年CDUG</a></li>
                <li><a href="http://cdug.tongji.edu.cn/2010/" target="_blank">2010年CDUG</a></li>
                <li><a href="http://cdug.tongji.edu.cn/2009/" target="_blank">2009年CDUG</a></li>
                <!-- <li><a href="http://www.google.com.hk" target="_blank">2008年CDUG</a></li> -->
              </ul>
            </li>
            <#if controller == "material">
            <li class="active">
            <#else>
            <li>
            </#if>
            <a href="material">资料库</a></li>
            <li><a href="about/contact">联系我们</a></li>
            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-lock"></span></a>
                <ul class="dropdown-menu" id="login-dropdown-menu" style="">
                  <li>
                    <form role="form">
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-default">Login</button>
                      <span class="color-white"><button type="button" class="btn btn-link pull-right btn-white">Register</button></span>
                    </form>
                  </li>
                </ul>
              </li> -->
          </ul>
        </div><!--/.nav-collapse -->
       </div>
      </div> <!-- End of Nav Bar-->