
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">  
	  <title>CDUG:The World DB2 User Community</title>	
	  <meta name="keywords" content="Cdug" />
	  <meta name="description" content="Cdug:The World DB2 User Community" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <base href="http://localhost:8080/zh/" />
	  <link href="resource/static/css/site.css" rel="stylesheet">
      <link href="resource/static/css/bootstrap.min.css" rel="stylesheet">
      <#macro css>
      	<#nested>
      </#macro>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	 <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
  </head>
<body>
	<#macro layout>
	<#include "/page/template/_header.html"/>
	<#nested>
	<#include "/page/template/_footer.html"/>
	</#macro>
	 <script src="resource/static/js/jquery.js"></script>	
	<script src="resource/static/js/bootstrap.min.js"></script>
	<!-- Library to support nav fixes in top-->
	<script src="resource/static/js/stickUp.min.js"></script>
	<!-- ######################################## -->
    <script type="text/javascript">
      /* jQuery(function($) {
        $(document).ready( function() {
          $('.navbar').stickUp();
        });
      }); */
    </script>
    <!-- ######################################## -->
    <#macro javascript>
		<#nested>
    </#macro>
    
</body>
</html>
