
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">  
	  <title>CDUG - 大中华区主机用户社区</title>	
	  <meta name="keywords" content="Cdug" />
	  <meta name="description" content="Cdug:The World DB2 User Community" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <#include "/page/template/_baseurl.html"/>
      <link href="resource/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="resource/static/css/site.css" rel="stylesheet">
      <#macro css>
      	<#nested>
      </#macro>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0025_chinese_hong_kong.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->
    
	 <!--[if lt IE 9]><script src="resource/static/js/excanvas.min.js"></script><![endif]--> 
     <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
  </head>
<body>
	<#macro layout>
	<#include "/page/template/_header.html"/>
	<#nested>
	<#include "/page/template/_footer.html"/>
	</#macro>
	 <script src="resource/static/js/jquery.js"></script>	
	<script src="resource/static/js/bootstrap.min.js"></script>
	
    <!-- ######################################## -->
    <#macro javascript>
		<#nested>
    </#macro>
    
</body>
</html>
