body, html, img, td {
	border: 0;
	margin: 0;
	padding: 0;
	}

body {
	 background-color: #38424a;
	/*background-image: url('Images/fundoteste.png');*/
	color: #303030;
	font: 12px tahoma, verdana, arial, helvetica, sans-serif;
	letter-spacing:0.1px;
	line-height: 130%;
	}



#container {
	margin: 9px auto 20px auto;
	width: 1000px;
	}

.strong {
	font-weight: bold;
	}

.center {
	text-align: center;
	}

.upper {
	text-transform: uppercase;
	}

#banner {background-image: url('../img/bander1.png'); width: 1000px; height: 171px; position:relative;}
	
#banner a {position:absolute; width:100%; height: 100%; }
	
#up_all {
    text-align:right;
    width:100%;
     background-color: #38424a;
	/*background-image: url('Images/up_bar.jpg');*/
	font-size:12px;
	font-weight:bold;
	padding:2px 20px 2px 10px;}
	
#up_all a {color:#ffffff;}


#sep_top {
    background-color: #FFFFFF;
	height: 20px;
	width: inherit;
	}


#main {
	background-color: rgb(255, 255, 255);
	width: inherit;
	}

a {
	color: #3c5162;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

#nav {
	float: left;
	line-height: 18px;
	padding: 0 10px 0 10px;
	position: absolute;
	text-align: left;
	width: 187px;
	}

#nav .lv0 {
	font-size: 14px;
	font-weight: bold;
	display: block;  /*Necessario para o Link ser por linha*/
	padding-top: 10px;
    }

#nav .lv1 {
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	display: block;/*Necessario para o Link ser por linha*/
	}

#nav .lv2 {
	font-size: 12px;
	padding-left: 15px;
	display: block;/*Necessario para o Link ser por linha*/
	}

#nav .spacer {
	margin-top: 10px;
	}

#nav a {
	color: #3c5162;
	}

.linkSubmit
{
    color:red !important;
}

#nav a:hover {
	text-decoration: none;
	}

#nav div.link:hover {
	background-color:#acb7ad;
	cursor: pointer;
	}
	
#nav_cfp {
	padding: 0px 0px 20px 0px;
	}

#content {
	border-left: 1px dotted #303030;
	margin-left: auto;
	min-height: 950px;
	padding: 0 10px 0 10px;
	text-align: justify;
	width: 772px;
	}

.heading0 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
	}
	
.heading1 {
	border-bottom: 1px dotted #303030;
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 3px 0;
	text-transform: uppercase;
	}
	
/*Heading utilizado para a home.aspx onde os titulos não tem sublinhado*/
.heading1_noBorder
{
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 3px 0;
    text-transform: uppercase;
}

.heading2 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 3px;
	}

.text1 {font-size:14px; font-weight:bold;}

.text2 {font-size:16px; font-weight:bold;}

.smalltext {font-size:10px;}

.oc_member {font-size:13px; font-weight:bold; text-transform:uppercase;}


#slideshow 
{
  top: 0;
  right: 0;
  position:absolute;
}


ul {
	margin-top: 0;
	}

ul li {
	list-style: square;
	margin-left: -10px;
	}

ol li {
	margin-left: -20px;
	}


#piss_year {
	text-align:center; 
	font-size:14px; 
	font-weight:bold;
	text-transform:uppercase; 
	padding:15px 0px 0px 0px;
	border-top:1px dotted;
	border-bottom:1px dotted;
	width:772px;
	margin-bottom:20px;
    }

#confs_topo
{padding:50px 100px 50px 100px;}

#confs_topo a
{color:#303030;}
	
	
/*Utilizado para os anos dos previous invited speakers passou a ser classe pois não reconhece como id*/
.piss_year {
	text-align:center; 
	font-size:14px; 
	font-weight:bold;
	text-transform:uppercase; 
	padding:15px 0px 15px 0px;
	border-top:1px dotted;
	border-bottom:1px dotted;
	width:772px;
	margin-bottom:20px;
    }

/*para as tabelas do registration fees*/
.tabela
{
	text-align:center;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
	border-collapse:collapse;
	margin:0px auto 0px auto;
}

/*para as tabelas do registration fees*/
.tabela td
{
	text-align:center;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
	border-collapse:collapse;
	margin:0px auto 0px auto;
}	

/* JointFather Homepage - Daughter Images*/
.divlnkImage
{
    float: left;
    position: absolute;
}

 /* JointFather Homepage - Daughter Links*/
.divlnkEvent
{
    position: relative;
    height: 50px;
}

/* JointFather Homepage - Daughter Acronyms*/
.divAcronymName
{
    float: right;
    position: absolute;
    margin-left: 30px;
}

/* JointFather Homepage -  Daughter Program Chairs*/
.divEventChairs
{
    position: relative;
    padding-left: 75px;
}

/*Titulo da Keynote na pagina KeynoteSpeakers*/
.divTitle
{
    vertical-align: middle;
    padding: 10px 0px 10px 0px;
    text-align: center;
	font-size:14px;
	font-weight:bold;
}

/*imagem do Keynote*/
.imageKeynote
{
    height: 93px;
    width: 80px;
    margin-right: 30px;
    border: thin solid;
}


/*div com a imagem dos keynotes*/
.divImageKeynote
{
    float: left;
    padding-right: 10px;
}


/*Field com informação do keynote*/
.PreviousInvitedSpeaker
{
	padding:15px 0px 0px 0px;
    float: left;
    width: 350px;
    border-style: none;
	
}

/*div com a informação dos keynotes*/
.divKeynoteInfo
{
    vertical-align: top;
    text-align: left;
    width: auto;
}

/*Satelite Events Main Page - Event Title*/
.divTitleSatelliteEvents
{
    text-align: right;
    border: 1px solid;
    margin-top: 30px;
}

/*Satellite Events Main Page - Call for Papers Image*/
.divLinkCFPSatelliteEvents
{
    float: left;
    width: 265px;
    margin: 30px 0px 35px 0px;
}

/*Satellite Events Main Page - Important Dates*/
.divImportantDatesSatelliteEvents
{
    float: right;
    text-align: right;
    width: 490px;
    margin: 20px 0px 35px 0px;
}

/*Satellite Events Main Page - Chairs General*/
.divChairsSatelliteEvents
{
    float: right;
    width: 342px;
}

/*Satellite Events Main Page - Chairs Image*/
.imagemKeynoteSatelliteEvents
{
    vertical-align: top;
    border-width: 1px;
    border-style: Solid;
    width: 15%;
}


/*Satellite Events Main Page - Chairs Info*/
.divKeynotesInfoSatelliteEvents
{
    vertical-align: bottom;
    width: 85%;
}


/*Satellite Events Main Page - Event Scope*/
.divScopeSatelliteEvents
{
    float: left;
    width: 400px;
    margin-right: 30px;
}


/*Satellite Events Main Page - More Information*/
.divMoreInformationSatelliteEvents
{
    text-align: right;
}


/*Conf. Homepage Stats*/
.divEstatistica
{
    margin-top:50px;
    font-style:italic;
}

/*Entities Left*/
.SponsorLeft
{
padding:50px 0px 0px 0px;
text-align:center;
font-size: 13px;
font-weight: bold;
margin-bottom: 3px;
}
	
#footer {
	border-top: 1px dotted #303030;
	font-size: 10px;
	margin: 10px 10px 0 10px;
	padding: 10px 0px 0px 0px;
	text-align: right;
	width: 980px;
	}

#footer a {
	color: #3c5162;
	}

.publicationItem
{
   width: 275px;
   float: left;
}


/* Post Publications (SPRINGER)*/
.divPublications
{
 text-align: left;
    font-size: 10px;
    /*float: right;*/
   /* width: 30%;*/
   padding-bottom: 45px;
   display: block;
   height: 130px; /*240px;*/
}

.ScopeShort
{
  margin: 25px 0px 0px 0px;
  width: 422px;
}

.DownloadPack
{
  position: absolute; 
  right: 0; 
  top: 255px; 
}


.photoArea
{
  padding-top: 10px;
}

.headingDate
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.partnerItem
{
   width: 250px;
   float: left;
   text-align:left;
}

.divPartners
{
 text-align: left;
    font-size: 10px;
   display: block;
  /* height: 240px;*/
}

#Workshop
{
  text-align: right;
}

#SpecialSessions
{
  text-align: right;
}

.specialSessionsLinks
{
  text-align: right;
}

.divWorkshopsTitle
{
  text-align: right;
}

.divTop
{
    float: right;
	text-align: right;
    /*width: 400px;*/
    margin-right: 3px;
}