
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">  
	<title>CDUG-Backstage Management System</title>	
	<meta name="keywords" content="Cdug" />
	<meta name="description" content="Cdug:The World DB2 User Community" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <#include "/page/template/_baseurl.html"/>
    <link href="resource/static/back_src/css/bootstrap.css" rel="stylesheet">
	<link href="resource/static/back_src/css/back_site.css" rel="stylesheet">
    <link href="resource/static/back_src/css/bootstrap-responsive.css" rel="stylesheet">
    
    <link href="resource/static/back_src/css/skins/moono/editor.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
	<link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <style type="text/css">
    html, body {
        height: 100%;
    }
    </style>
  </head>
<body>
<#macro layout>
	<#include "/backpage/template/_header.html"/>
	<input type="text" id="base-url" value="${baseURL}" style="display:none;"/>
	<div class="container-fluid">
		<div class="row-fluid">
			<#include "/backpage/template/_left_bar.html"/>
			<div class="span10">
				<#nested>
        	</div>
		</div>
		<hr>
		<#include "/backpage/template/_footer.html"/>
	</div>
</#macro>
     <script src="resource/static/back_src/js/jquery.js"></script>
	<script src="resource/static/back_src/js/jquery.flot.js"></script>
	<script src="resource/static/back_src/js/jquery.flot.resize.js"></script>	
	<script src="resource/static/back_src/js/bootstrap.min.js"></script>
	<!-- <script src="resource/static/back_src/js/jquery-1.4.2.js"></script> -->

	
	<script src="resource/static/back_src/js/ckeditor.js"></script>
	<script src="resource/static/back_src/js/lang/en.js"></script>
	<script src="resource/static/back_src/js/styles.js"></script>
	<script src="resource/static/back_src/js/config.js"></script>
	<#macro javascript>
		<#nested>
	</#macro>
</body>
</html>
