     <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <#if sessionUser.isAdmin()>
              <li class="nav-header"><i class="icon-wrench"></i> User Management</li>
              <li><a href="private/user/addUser">New User</a></li>
              <li><a href="private/user">Users</a></li>
              
              <li class="nav-header"><i class="icon-file"></i> Post Management</li>
              <li><a href="private/post/addPost">New Post</a></li>
              <li><a href="private/post">Posts</a></li>
              <!-- <li><a href="private/post">Drafts</a></li> -->

              <li class="nav-header"><i class="icon-upload"></i> Material Management</li>
              <li><a href="private/material/addMaterialView">New Material</a></li>
              <li><a href="private/material">Materials</a></li>
              <li><a href="private/material/tags">Classification</a></li>
              <#else>
              	  <li class="nav-header"><i class="icon-file"></i> Post Management</li>
              <li><a href="private/post/addPost">New Post</a></li>
              <li><a href="private/post">Posts</a></li>
              <!-- <li><a href="private/post">Drafts</a></li> -->

              <li class="nav-header"><i class="icon-upload"></i> Material Management</li>
              <li><a href="private/material/addMaterialView">New Material</a></li>
              <li><a href="private/material">Materials</a></li>
              </#if>
              <li class="nav-header"><i class="icon-user"></i> PROFILE</li>
              <li><a href="private/user/myprofile">My Profile</a></li>
              <!-- <li><a href="#">设置</a></li> -->
			  <li><a href="private/logout">Logout</a></li> 
			  
            </ul>
          </div>
        </div>